<div class="main users-edit">
  <div class="container">
    <div class="edit_userform-box">
    <div class="edit_userform-heading">アカウント編集</div>
    <div class="edit_userform">
      <div class="edit_userform-body">

        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>

        <%= form_tag("/users/#{@user.id}/update") do %>
          <p>ユーザー名</p>
          <div class = "login_form-input"> <input name = "name" value="<%= @user.name %>"> </div>
          <p>メールアドレス</p>
          <div class = "login_form-input"> <input name = "email" value="<%= @user.email %>"> </div>
          <div class = "login_form-input"> <input type="submit" value="保存"> </div>
        <%end%>

      </div>
    </div>
    </div>
  </div>
</div>
