// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* users/index ================================ */
.users-heading {
  font-weight: 300;
  margin: 60px 0 20px;
  font-size: 48px;
  color: #000000;
}

/* users/show ================================ */
.user-show {
  text-align: center;
  padding-top:60px;
}

.user {
  margin-bottom: 20px;
}

.user h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
}

.user p {
  font-size: 20px;
  margin-bottom: 15px;
}

.edit_btn{
  padding-bottom: 20px;
}
/* users/new ================================ */
.users-form input {
  margin-bottom: 15px;
}

/* users/login_form ================================ */
.login_form-box{
  padding: 10px;
  background: #FFF;
  border: solid 1px #dcdcdc;/*線*/
  border-radius: 10px;/*角の丸み*/
}

.loginform-heading{
  text-align: center;
  font-weight: 300;
  margin: 50px 0 0;
  font-size: 40px;
  color: #000000;
}

.loginform-body {
  padding: 20px;
}

.loginform-body p{
 text-align: center;
 padding: 30px 0px 0px 0px;
}

.login_form-input{
  text-align : center ;
}

.loginform input {
  width: 60%;
  border: 1px solid #d8dadf;
  padding: 10px;
  color: #57575f;
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 5px;
  background-color: white;
}

.loginform input[type="submit"] {
  background-color: #3ecdc6;
  color: white;
  cursor: pointer;
  font-weight: 300;
  width: 120px;
  border-radius: 3px;
  margin-top: 8px;
  margin-bottom: 0;
  margin: 30px 0 20px 0;
}

.login_form-error{
  text-align : center ;
  color: red;
}

/* users/new_userform ================================ */
.new_userform-box{
  padding: 10px;
  background: #FFF;
  border: solid 1px #dcdcdc;/*線*/
  border-radius: 10px;/*角の丸み*/
}

.new_userform-heading{
  text-align: center;
  font-weight: 300;
  margin: 50px 0 0;
  font-size: 30px;
  color: #000000;
}

.new_userform-body {
  padding: 20px;
}

.new_userform-body p{
 text-align: center;
 font-size: 15px;
 padding: 25px 0px 0px 0px;
}

.new_userform-input{
  text-align : center ;
}

.new_userform input {
  width: 60%;
  border: 1px solid #d8dadf;
  padding: 10px;
  color: #57575f;
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 5px;
  background-color: white;
}

.new_userform input[type="submit"] {
  background-color: #3ecdc6;
  color: white;
  cursor: pointer;
  font-weight: 300;
  width: 120px;
  border-radius: 3px;
  margin-top: 8px;
  margin-bottom: 0;
  margin: 30px 0 20px 0;
}

.new_userform-error{
  text-align : center ;
  color: red;
}
