// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* PC表示 ================================ */
@media screen and(min-width: 479px){
/* users/index ================================ */
.users-heading {
  text-align: center;
  font-weight: 300;
  margin: 60px 0 20px;
  font-size: 30px;
  color: #000000;
}

/* users/show ================================ */
.user-show {
  text-align: center;
  padding-top:10px;
}

.user {
  margin-bottom: 20px;
}

.user_prof{
  padding: 10px 10px 20px 10px;
  margin:0 120px 20px;
  background: #FFF;
  border: solid 1px #dcdcdc;/*線*/
  border-radius: 10px;/*角の丸み*/
}

.user h2 {
  padding-top: 15px;
  padding-bottom: 2px;
  font-size: 25px;
  font-weight: 600;
  line-height: 1.2;
}

.user p {
  font-size: 15px;
  margin-bottom: 5px;
}

.edit_btn{
  font-size: 12px;
  color: #808080;
}

.sum_movies{
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 15px;
}
/* users/new ================================ */
.users-form input {
  margin-bottom: 15px;
}

/* users/login_form ================================ */
.login_form-box{
  padding: 10px;
  margin: 0 40px 0;
  background: #FFF;
  border: solid 1px #dcdcdc;/*線*/
  border-radius: 10px;/*角の丸み*/
}

.loginform-heading{
  text-align: center;
  font-weight: 300;
  margin: 30px 0 0;
  font-size: 30px;
  color: #000000;
}

.loginform-body {
  padding: 20px;
}

.loginform-body p{
 text-align: center;
 padding: 10px 0px 0px 10px;
}

.login_form-input{
  text-align : center ;
}

.loginform input {
  width: 60%;
  border: 1px solid #d8dadf;
  padding: 10px;
  color: #57575f;
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 5px;
  background-color: white;
}

.loginform input[type="submit"] {
  background-color: #3ecdc6;
  color: white;
  cursor: pointer;
  font-weight: 300;
  width: 120px;
  border-radius: 3px;
  margin-top: 8px;
  margin-bottom: 0;
  margin: 30px 0 20px 0;
}

.login_form-error{
  text-align : center ;
  color: red;
}

/* users/new_userform ================================ */
.new_userform-box{
  padding: 10px;
  margin: 0 30px 0;
  background: #FFF;
  border: solid 1px #dcdcdc;/*線*/
  border-radius: 10px;/*角の丸み*/
}

.new_userform-heading{
  text-align: center;
  font-weight: 300;
  margin: 40px 0 0;
  font-size: 30px;
  color: #000000;
}

.new_userform-body {
  padding: 20px;
}

.new_userform-body p{
 text-align: center;
 font-size: 15px;
 padding: 15px 0px 0px 10px;
}

.new_userform-input{
  text-align : center ;
}

.new_userform input {
  width: 60%;
  border: 1px solid #d8dadf;
  padding: 10px;
  color: #57575f;
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 5px;
  background-color: white;
}

.new_userform input[type="submit"] {
  background-color: #3ecdc6;
  color: white;
  cursor: pointer;
  font-weight: 300;
  width: 120px;
  border-radius: 3px;
  margin-top: 8px;
  margin-bottom: 0;
  margin: 30px 0 20px 0;
}

.new_userform-error{
  text-align : center ;
  color: red;
}

/* users/edit ================================ */
.edit_userform-box{
  padding: 10px;
  background: #FFF;
  border: solid 1px #dcdcdc;/*線*/
  border-radius: 10px;/*角の丸み*/
}

.edit_userform-heading{
  text-align: center;
  font-weight: 300;
  margin: 20px 0 0;
  font-size: 30px;
  color: #000000;
}

.edit_userform-body {
  padding: 20px;
}

.edit_userform p{
 text-align: center;
 padding: 20px 0px 0px 0px;
}

.edit_userform-input{
  text-align : center ;
}

.edit_userform input {
  width: 60%;
  border: 1px solid #d8dadf;
  padding: 10px;
  color: #57575f;
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 5px;
  background-color: white;
}

.edit_userform input[type="submit"] {
  background-color: #3ecdc6;
  color: white;
  cursor: pointer;
  font-weight: 300;
  width: 120px;
  border-radius: 3px;
  margin-top: 8px;
  margin-bottom: 0;
  margin: 30px 0 20px 0;
}

.edit_userform-error{
  text-align : center ;
  color: red;
}
}




/* スマホ表示 ================================ */
@media screen and(max-width: 479px){
/* users/index ================================ */
.users-heading {
  text-align: center;
  font-weight: 300;
  margin: 60px 0 20px;
  font-size: 30px;
  color: #000000;
}

/* users/show ================================ */
.user-show {
  text-align: center;
  padding-top:10px;
}

.user {
  margin-bottom: 20px;
}

.user_prof{
  padding: 10px 10px 20px 10px;
  margin:0 30px 20px;
  background: #FFF;
  border: solid 1px #dcdcdc;/*線*/
  border-radius: 10px;/*角の丸み*/
}

.user h2 {
  padding-top: 15px;
  padding-bottom: 2px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}

.user p {
  font-size: 10px;
  margin-bottom: 2px;
}

.edit_btn{
  font-size: 10px;
  color: #808080;
}

.sum_movies{
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;
}
/* users/new ================================ */
.users-form input {
  margin-bottom: 15px;
}

/* users/login_form ================================ */
.login_form-box{
  margin:80px 30px 30px;
  padding: 10px;
  background: #FFF;
  border: solid 1px #dcdcdc;/*線*/
  border-radius: 10px;/*角の丸み*/
}

.loginform-heading{
  text-align: center;
  font-weight: 300;
  margin: 30px 0 0;
  font-size: 20px;
  color: #000000;
}

.loginform-body {
  padding: 20px;
}

.loginform-body p{
 text-align: center;
 padding: 5px 0px 0px 0px;
 font-size: 80%;
}

.login_form-input{
  text-align : center ;
}

.loginform input {
  width: 80%;
  border: 1px solid #d8dadf;
  padding: 10px;
  color: #57575f;
  font-size: 10px;
  letter-spacing: 2px;
  border-radius: 5px;
  background-color: white;
}

.loginform input[type="submit"] {
  background-color: #3ecdc6;
  color: white;
  cursor: pointer;
  font-weight: 300;
  width: 120px;
  border-radius: 3px;
  margin-top: 8px;
  margin-bottom: 0;
  margin: 30px 0 20px 0;
}

.login_form-error{
  text-align : center ;
  color: red;
}

/* users/new_userform ================================ */
.new_userform-box{
  margin:80px 30px 30px;
  padding: 10px;
  background: #FFF;
  border: solid 1px #dcdcdc;/*線*/
  border-radius: 10px;/*角の丸み*/

}

.new_userform-heading{
  text-align: center;
  font-weight: 300;
  margin: 30px 0 0;
  font-size: 20px;
  color: #000000;
}

.new_userform-body {
  padding: 20px;
}

.new_userform-body p{
 text-align: center;
 padding: 5px 0px 0px 0px;
  font-size: 80%;
}

.new_userform-input{
  text-align : center ;
}

.new_userform input {
  width: 80%;
  border: 1px solid #d8dadf;
  padding: 10px;
  color: #57575f;
  font-size: 10px;
  letter-spacing: 2px;
  border-radius: 5px;
  background-color: white;
}

.new_userform input[type="submit"] {
  background-color: #3ecdc6;
  color: white;
  cursor: pointer;
  font-weight: 300;
  width: 120px;
  border-radius: 3px;
  margin-top: 8px;
  margin-bottom: 0;
  margin: 30px 0 20px 0;
}

.new_userform-error{
  text-align : center ;
  color: red;
}

/* users/edit ================================ */
.edit_userform-box{
  padding: 10px;
  background: #FFF;
  border: solid 1px #dcdcdc;/*線*/
  border-radius: 10px;/*角の丸み*/
}

.edit_userform-heading{
  text-align: center;
  font-weight: 300;
  margin: 20px 0 0;
  font-size: 30px;
  color: #000000;
}

.edit_userform-body {
  padding: 20px;
}

.edit_userform p{
 text-align: center;
 padding: 20px 0px 0px 0px;
}

.edit_userform-input{
  text-align : center ;
}

.edit_userform input {
  width: 60%;
  border: 1px solid #d8dadf;
  padding: 10px;
  color: #57575f;
  font-size: 16px;
  letter-spacing: 2px;
  border-radius: 5px;
  background-color: white;
}

.edit_userform input[type="submit"] {
  background-color: #3ecdc6;
  color: white;
  cursor: pointer;
  font-weight: 300;
  width: 120px;
  border-radius: 3px;
  margin-top: 8px;
  margin-bottom: 0;
  margin: 30px 0 20px 0;
}

.edit_userform-error{
  text-align : center ;
  color: red;
}
}
